
.index{
    display: flex;      
    font-size: 10;       
    width: 100%; 
    padding: 0.5em 1em;
}

.menu{   
    font-family: 'Yu Gothic UI',sans-serif;
    width: 40%;
    height: 40px;
    overflow-y:scroll;
    word-break : break-all;
    -ms-overflow-style: none;    /* IE, Edge 対応 */
    scrollbar-width: none;       /* Firefox 対応 */
}

.menu::-webkit-scrollbar {  /* Chrome, Safari 対応 */
    display:none;
}

.nav-link{
   margin-left: 20px;
}

.navbar-brand{
    /* margin-left: 20px;
    font-family: 'Impact',sans-serif;
    text-decoration: none;
    font-size: 30px; */
}

.yohaku{
    margin-left: 20%;
}

.button{
    display: flex;  
}

.py-4{
    /* margin-left: 20%; */
}

.btn-warning{
    margin-left: 88%;
}

.table{
    display: table;
    table-layout: fixed;
    text-align: center;
    width: 10%;

    height: 40px;
    overflow-y:scroll;
    word-break : break-all;
    -ms-overflow-style: none;    /* IE, Edge 対応 */
    scrollbar-width: none;       /* Firefox 対応 */
}

.clom-color{
    color: rgb(55, 156, 8);
}

